*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app{
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.time-container, 
.sound-container,
.player-container {
    height: 80%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.player-container{
    position: relative;
}

.player-container svg{
    position: absolute;
    height: 30%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}



.time-display{
    position: absolute;
    bottom: 10%;
    color: white;
    font: 50px;
}

video{
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    z-index: -10;
}

.time-container button,
.sound-container button {
    color: white;
    width: 30%;
    height: 10%;
    background: none;
    border: 2px solid white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px;
    transition: all 0.5s ease;
}

.time-container button:hover {
    color: black;
    background: white;
}

.sound-container button{
    border: none;
    height: 120px;
    width: 120px;
}

.sound-container button:nth-child(1){
    background: whitesmoke;
}
.sound-container button:nth-child(2){
    background: whitesmoke;
}